<h1>Add a new item</h1>

<form action="/insert_item" method="post">
  <div>
    <label for="link_url">
      Link URL
    </label>
    <input id="link_url" name="link_url" placeholder="Enter a URL..." type="text">
  </div>

  <div>
    <label for="link_description">
      Link Description
    </label>

    <input id="link_description" name="link_description" placeholder="Enter a link description..." type="text">
  </div>

  <div>
    <label for="thumbnail_url">
      Thumbnail URL
    </label>

    <input id="thumbnail_url" name="thumbnail_url" placeholder="Enter a thumbnail URL..." type="text">
  </div>

  <button>Create item</button>
</form>
